<header>
	<!-- CONTAINER -->
	<div class="container">
		<div class="header__bl header__bl-1">
			<a href="index.html" class="header__logo-company logo-company" aria-label="logo" role="link">
				<img src="img/logo-company.svg" width="230" height="42" alt="Bossingham Groundworks & Landscaping Ltd">
			</a>
		</div>
		<div class="header__bl header__bl-2">
			<div>
				<div class="toggle-wrapper">
					<button class="toggle-btn" role="button" aria-label="Menu">
						<span></span>
					</button>
					<div class="toggle__content">
						<div>
							<nav class="header__nav nav">
								<ul class="nav__list" role="menu">
									<li role="menuitem">
										<a href="javascript:void(0)" aria-label="About" role="link">About</a>
									</li>
									<li role="menuitem">
										<a href="javascript:void(0)" aria-label="Our works" role="link">Our works</a>
									</li>
									<li role="menuitem">
										<a href="javascript:void(0)" aria-label="Contact" role="link">Contact</a>
									</li>
								</ul>
							</nav>
							<div class="header__add">
								<div>
									<strong>Landscaping</strong>
									<ul role="menu">
										<li role="menuitem">
											<a href="javascript:void(0)" aria-label="Walls and Brickwork" role="link">Walls and
												Brickwork</a>
										</li>
										<li role="menuitem">
											<a href="javascript:void(0)" aria-label="Patios and Paving" role="link">Patios and
												Paving</a>
										</li>
										<li role="menuitem">
											<a href="javascript:void(0)" aria-label="awns and Turfing" role="link">Lawns and
												Turfing</a>
										</li>
										<li role="menuitem">
											<a href="javascript:void(0)" aria-label="Fencing and Gates" role="link">Fencing and
												Gates</a>
										</li>
										<li role="menuitem">
											<a href="javascript:void(0)" aria-label="Ponds & Water Feature" role="link">Ponds &
												Water Feature</a>
										</li>
										<li role="menuitem">
											<a href="javascript:void(0)" aria-label="Playgrounds" role="link">Playgrounds</a>
										</li>
										<li role="menuitem">
											<a href="javascript:void(0)" aria-label="Equestrian Arenas" role="link">Equestrian
												Arenas</a>
										</li>
									</ul>
								</div>
								<div>
									<strong>Groundworks</strong>
									<ul role="menu">
										<li role="menuitem">
											<a href="javascript:void(0)" aria-label="Concreting and Foundation"
												role="link">Concreting<br>
												and Foundation</a>
										</li>
										<li role="menuitem">
											<a href="javascript:void(0)" aria-label="Driveways" role="link">Driveways</a>
										</li>
										<li role="menuitem">
											<a href="javascript:void(0)" aria-label="Excavation and Earth Moving"
												role="link">Excavation and Earth<br>
												Moving</a>
										</li>
										<li role="menuitem">
											<a href="javascript:void(0)" aria-label="Drainage" role="link">Drainage</a>
										</li>
										<li role="menuitem">
											<a href="javascript:void(0)" aria-label="Car Parks & Surfacing" role="link">Car Parks &
												Surfacing</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="header__contacts">
					<p>
						<a href="tel:07894007660" role="link" aria-label="07894 007660">07894 007660</a>
						10 Juniper Way, Hawkinge,<br>
						Folkestone, Kent, CT18 7TU
					</p>
				</div>
			</div>
			<div>
				<ul class="s_ocial s_ocial-style-1 header__s_ocial">
					<li>
						<a href="javascript:void(0)" role="link" aria-label="Facebook" class="s_ocial__f_acebook">
							<svg>
								<use href="img/sprite-svg-fill-delete.svg#facebook"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- END CONTAINER -->
</header>
