<div class="hel" itemscope itemtype="http://schema.org/Organization">
	<span itemprop="name">Bossingham Groundworks & Landscaping Ltd</span>
	<img itemprop="image" src="img/logo-company.svg" alt="High capital. Your financial markets one-stop-shop">
	<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">10 Juniper Way, Hawkinge, Folkestone, Kent, CT18 7TU</span>
		<span itemprop="addressLocality">United Kingdom</span>
	</div>
	<span itemprop="telephone">07894007660</span>
	<div itemscope itemtype="https://schema.org/LocalBusiness">
		<meta itemprop="name" content="Bossingham Groundworks & Landscaping Ltd">
		<meta itemprop="image" content="img/logo-company.svg">
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="streetAddress" content="10 Juniper Way, Hawkinge, Folkestone, Kent, CT18 7TU">
			<meta itemprop="addressLocality" content="United Kingdom">
		</span>
		<meta itemprop="telephone" content="07894007660">
		<meta itemprop="priceRange" content="GBP">
	</div>
</div>
