/*
===========================
	GROUNDWORKS
==========================
*/
.groundworks {
	h2 {
		text-align: center;

		&~p {
			display: table;
			max-width: 565px;
			margin-left: auto;
			margin-right: auto;
			font-size: fsz(13, 14);
			line-height: 1.55;
			text-align: center;

			&:last-of-type {
				margin-bottom: 56px;
			}
		}
	}
}

/*
===========================
	LANDSCAPING
==========================
*/
.landscaping__info {
	display: flex;
	gap: 0 60px;

	div {
		max-width: 330px;

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&+.landscaping-slider-wrapper {
		margin-top: 60px;
	}
}

.landscaping-slider-wrapper {
	.slider-btn {
		top: -110px;
		transform: none;
	}
}

.landscaping-slider__btn--prev {
	right: 113px;
}

.landscaping-slider__btn--next {
	right: 55px;
}

@media (min-width: 1231px) {

	.landscaping h2,
	.landscaping__info {
		padding-left: mp(95, 1200);
	}
}

/*
===========================
	OUR WORKS
==========================
*/
.our-works {
	padding-top: 90px;
	padding-bottom: 100px;
	background-color: $cb;
}

.our-works__info {
	display: flex;
	align-items: center;
	gap: 0 60px;
	color: $c1;

	div {
		p {
			max-width: 250px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	h2,
	p:last-child {
		margin-bottom: 0;
	}

	&+.our-works-slider-wrapper {
		margin-top: 50px;
	}
}

.our-works {
	.slider-btn {
		top: -105px;
		transform: none;
	}
}

.our-works-slider__btn--prev {
	right: 113px;
}

.our-works-slider__btn--next {
	right: 55px;
}

.our-works-slider__item+.our-works-slider__item {
	margin-top: 25px;
}

@media (min-width: 1231px) {
	.our-works__info {
		padding-left: mp(95, 1200);
	}
}
