/*
===========================
	GROUNDWORKS
==========================
*/
.groundworks {
	h2 {
		text-align: center;

		&~p {
			display: table;
			max-width: 565px;
			margin-left: auto;
			margin-right: auto;
			font-size: fsz(13, 14);
			line-height: 1.55;
			text-align: center;

			&:last-of-type {
				margin-bottom: 56px;
			}
		}
	}
}

/*
===========================
	LANDSCAPING
==========================
*/
.landscaping__info {
	display: flex;
	gap: 0 60px;

	div {
		max-width: 330px;

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&+.landscaping-slider-wrapper {
		margin-top: 60px;
	}
}

.landscaping-slider-wrapper {
	.slider-btn {
		top: -110px;
		transform: none;
	}
}

.landscaping-slider__btn--prev {
	right: 113px;
}

.landscaping-slider__btn--next {
	right: 55px;
}

@media (min-width: 1231px) {

	.landscaping h2,
	.landscaping__info {
		padding-left: mp(95, 1200);
	}
}
