/*
===========================
	CONTENT BLOCKS
==========================
*/

.content {
	display: flex;
}

.content__main {
	flex-grow: 1;
}

.content__aside {
	flex: none
}

@media (max-width: 1024px) {
	.content {
		flex-direction: column;
	}
}

/*
===========================
	TOP SECTION
==========================
*/
.top-section {
	margin-top: -127px;
	background-color: $cb;
}

.top-section__content {
	min-height: calc(100vh - 102px);
}

.top-section__aside {
	width: calc(min(445px, 100%));
	align-self: center;

	h1 {
		margin-bottom: 45px;
		line-height: 0.75;
		color: $c3;
	}

	p {
		max-width: 250px;
		margin-bottom: 19px;
		line-height: 1.45;
		color: $c1;

		&:last-child {
			margin-bottom: 0;
		}

		&+.top-section__add {
			margin-top: 60px;
		}
	}

	.btn-default {
		width: calc(min(119px, 100%));
	}
}

.top-section__main {
	display: flex;
	gap: 50px mp(65, 665);
	padding-bottom: 60px;

	.list-img+.top-section__modal-btn {
		margin-top: 45px;
	}
}

.top-section__img {
	width: 50%;

	.list-img {
		border-radius: 300px;
		padding-top: 146.695%;
	}
}

.top-section__img-1 {
	align-self: flex-end;
}

.top-section__add {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	align-items: center;
}

.top-section__modal-btn {
	position: relative;
	display: inline-block;
	width: 47px;
	height: 47px;
	padding: 0;
	border-radius: 50%;
	color: $cb;
	background-color: $c1;
	cursor: pointer;
	@include trs;

	svg {
		position: absolute;
		top: 50%;
		left: calc(50% + 2px);
		transform: translate(-50%, -50%);
		width: 15px;
		height: 17px;
		fill: currentColor;
	}

	&:hover {
		background-color: $c3;
	}
}

@media (min-width: 1025px) {
	.top-section__content {
		gap: 0 mp(90, 1200);
	}

	.top-section__img-2 {
		position: relative;
		top: -50px;
	}
}

@media (min-width: 1231px) {

	.top-section__aside p,
	.top-section__add {
		margin-left: mp(95, 445);
	}
}

@media (max-width: 1200px) {
	.top-section {
		margin-top: -35px;
	}

	.top-section__main {
		padding-top: 100px;
	}

	.top-section__content {
		min-height: calc(100vh - 55px);
	}
}

@media (max-width: 1024px) {
	.top-section {
		position: relative;
		background: url(../img/bg-img-2.jpg) no-repeat 50% 0;
		background-size: cover;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($cb, 0.85);
		}
	}

	.top-section__content {
		position: relative;
		z-index: 1;
		padding-top: 30px;
		padding-bottom: 30px;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.top-section__main {
		display: none;
		padding: 0;
	}

	.top-section__modal-btn {
		display: none;
	}

	.top-section__aside {
		h1 {
			margin-bottom: 35px;
		}

		p {
			margin-left: auto;
			margin-right: auto;

			&+.top-section__add {
				margin-top: 36px;
			}
		}

		.top-section__modal-btn {
			display: inline-block;
		}
	}

	.top-section__add+.top-section__modal-btn {
		margin-top: 40px;
	}

	.top-section__add {
		justify-content: center;
	}
}

/*
===========================
	GROUNDWORKS
==========================
*/
.groundworks {
	h2 {
		text-align: center;

		&~p {
			display: table;
			max-width: 565px;
			margin-left: auto;
			margin-right: auto;
			font-size: fsz(13, 14);
			line-height: 1.55;
			text-align: center;

			&:last-of-type {
				margin-bottom: 56px;
			}
		}
	}
}

@media (max-width: 1024px) {
	.groundworks {
		h2 {
			&~p {
				&:last-of-type {
					margin-bottom: 37px;
				}
			}
		}
	}
}

/*
===========================
	LANDSCAPING
==========================
*/
.landscaping__info {
	display: flex;

	div {
		max-width: 330px;

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&+.landscaping-slider-wrapper {
		margin-top: 60px;
	}
}

.landscaping-slider-wrapper {
	.slider-btn {
		top: -110px;
		transform: none;
	}
}

.landscaping-slider__btn--prev {
	right: 113px;
}

.landscaping-slider__btn--next {
	right: 55px;
}

@media (min-width: 1025px) {
	.landscaping__info {
		gap: 0 60px;
	}
}

@media (min-width: 1231px) {

	.landscaping h2,
	.landscaping__info {
		padding-left: mp(95, 1200);
	}
}

@media (max-width: 1024px) {
	.landscaping__info {
		flex-direction: column;
		gap: 33px 0;

		&+.landscaping-slider-wrapper {
			margin-top: 100px;
		}
	}

	.landscaping-slider-wrapper .slider-btn {
		top: -62px;
	}

	.landscaping-slider__btn--next {
		right: 25px;
	}

	.landscaping-slider__btn--prev {
		right: 70px;
	}
}

@media (max-width: 576px) {
	.landscaping__info {
		&+.landscaping-slider-wrapper {
			margin-top: 95px;
		}
	}

	.landscaping-slider-wrapper .slider-btn {
		top: -57px;
	}

	.landscaping-slider__btn--next {
		right: 20px;
	}

	.landscaping-slider__btn--prev {
		right: 65px;
	}
}

@media (max-width: 360px) {
	.landscaping__info {
		&+.landscaping-slider-wrapper {
			margin-top: 90px;
		}
	}

	.landscaping-slider-wrapper .slider-btn {
		top: -52px;
	}

	.landscaping-slider__btn--next {
		right: 15px;
	}

	.landscaping-slider__btn--prev {
		right: 60px;
	}
}

/*
===========================
	OUR WORKS
==========================
*/
.our-works {
	padding-top: 90px;
	padding-bottom: 100px;
	background-color: $cb;
}

.our-works__info {
	display: flex;
	align-items: center;
	gap: 0 60px;
	color: $c1;

	div {
		p {
			max-width: 250px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	h2,
	p:last-child {
		margin-bottom: 0;
	}

	&+.our-works-slider-wrapper {
		margin-top: 50px;
	}
}

.our-works {
	.slider-btn {
		top: -105px;
		transform: none;
	}
}

.our-works-slider__btn--prev {
	right: 113px;
}

.our-works-slider__btn--next {
	right: 55px;
}

.our-works-slider__item+.our-works-slider__item {
	margin-top: 25px;
}

@media (min-width: 1231px) {
	.our-works__info {
		padding-left: mp(95, 1200);
	}
}

@media (max-width: 1024px) {
	.our-works {
		padding-top: 73px;
		padding-bottom: 80px;
	}
}

.mobile-user-agent {
	.our-works {
		.slider-btn {
			display: none;
		}

		.swiper-wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 25px;
		}

		.our-works-slider__item+.our-works-slider__item {
			margin-top: 0;
		}

		.swiper-slide {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 25px;

			a {
				height: 100%;
			}

			.list-img {
				padding-top: 81.82%;
				border-radius: 5px;
			}
		}
	}

	.our-works__info+.our-works-slider-wrapper {
		margin-top: 37px;
	}

	.our-works__info {
		flex-wrap: wrap;
		gap: 0 20px;
	}
}

@media (max-width: 576px) {
	.mobile-user-agent {
		.our-works {
			.swiper-wrapper {
				grid-template-columns: repeat(1, 1fr);
				gap: 20px;
			}

			.swiper-slide {
				gap: 20px;
			}
		}
	}
}

@media (max-width:360px) {
	.mobile-user-agent {
		.our-works {
			.swiper-wrapper {
				gap: 15px;
			}

			.swiper-slide {
				gap: 15px;
			}
		}
	}
}

/*
===========================
	ABOUT US
==========================
*/
.about-us__aside {
	width: calc(min(320px, 100%));

	p {
		margin-bottom: 19px;
		line-height: 1.45;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.about-us__main {
	display: flex;
	gap: 50px mp(50, 625);
}

.about-us__img {
	width: 50%;

	.list-img {
		border-radius: 300px;
		padding-top: 156.475%;
	}
}

@media (min-width: 1025px) {
	.about-us {
		.container {
			padding-left: mp(95, 1200);
			padding-right: 36px;
		}
	}

	.about-us__content {
		padding-bottom: 90px;
	}

	.about-us__aside {
		h2 {
			margin-bottom: 58px;
		}
	}

	.about-us__content {
		gap: 0 mp(90, 1066);
	}

	.about-us__img-1 {
		position: relative;
		top: 90px;
	}
}

@media (max-width: 1024px) {
	.about-us__content {
		gap: 77px 0;
	}

	.about-us__aside,
	.about-us__main {
		margin-left: auto;
		margin-right: auto;
	}

	.about-us__main {
		width: calc(min(654px, 100%));
		gap: 50px mp(40, 654);
	}
}

@media (max-width: 576px) {
	.about-us__content {
		gap: 37px 0;
	}
}

@media (max-width: 415px) {
	.about-us__img {
		width: 100%;

		.list-img {
			border-radius: 200px;
		}
	}
}

@media (max-width: 360px) {
	.about-us__img {
		.list-img {
			border-radius: 150px;
		}
	}
}

/*
===========================
	INFO
==========================
*/

.info__aside {
	width: calc(min(430px, 100%));
}

.info-slider__item {
	display: block;

	.list-img {
		padding-top: 70.835%;
		cursor: zoom-in;
	}
}

.info-slider {
	.slider-btn {
		z-index: 1;
	}
}

.info-slider__btn--prev {
	left: 30px;
}

.info-slider__btn--next {
	right: 30px;
}

@media (min-width: 1025px) {
	.info__content {
		gap: 0 mp(75, 1105);
	}

	.content__aside {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;

		.info__btn {
			margin-top: auto;
		}
	}

	.info-slider {
		width: 0;
		min-width: 100%;
	}
}

@media (min-width: 1231px) {
	.info__content {
		padding-left: mp(95, 1200);
	}
}

@media (max-width: 1024px) {
	.info__aside {
		margin-left: auto;
		margin-right: auto;

		h1+.info-slider-wrapper {
			display: block;
			margin-bottom: 40px;
		}
	}

	.info-slider-wrapper+.info__add {
		display: block;
		width: calc(min(430px, 100%));
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
	}

	.info__btn {
		display: table;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

}
