input,
button,
textarea,
select {
	border: none;
	outline: none;
	box-shadow: none;
	background: transparent;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
	outline: none;
	box-shadow: none;
}

input[type="search"] {
	box-sizing: border-box;
}

input:not([type='checkbox']):not([type='radio']),
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	resize: vertical;
}

input:not([type='checkbox']):not([type='radio']),
textarea {
	@include placeholder {
		color: $cb;
		text-overflow: ellipsis;
		opacity: 1;
	}
}

.form {
	position: relative;

	div {
		&:not(:last-child) {
			margin-bottom: 21px;
		}

		&+.form__submit {
			margin-top: 36px;
		}
	}

	label {
		display: block;
		margin-bottom: 11px;
		line-height: 1;

		&:not(.style-check) {
			&[data-required] {
				span {
					position: relative;
					display: inline-block;
					padding-right: 10px;

					&:after {
						content: '*';
						position: absolute;
						top: -1px;
						right: 0;
					}
				}
			}
		}
	}

	label,
	input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']),
	textarea,
	select {
		padding-left: 15px;
		padding-right: 15px;

	}

	input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']),
	textarea,
	select {
		width: 100%;
		font-weight: 300;
		background-color: $с6;
		border: 1px solid $c3;
		border-radius: 5px;
		@include trs;

		&:focus {
			border-color: $c7;
		}
	}

	input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']) {
		height: 43px;

		&.surname {
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: -1;
			width: 0;
			height: 0;
			padding: 0;
			opacity: 0;
			pointer-events: none
		}
	}

	textarea {
		padding-top: 11px;
		padding-bottom: 11px;
		resize: vertical;
		line-height: 1.2;
	}

	&.has-required {

		input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']),
		textarea {
			&:required {
				border-color: $c5;

				&:valid {
					border-color: $c3;
				}
			}
		}
	}
}

.form__submit {
	display: block;
	width: 100%;
	padding: 17px 10px;
	font-size: fsz(13, 14);
	font-weight: 700;
	line-height: 1;
	color: $c1;
	text-align: center;
	text-transform: uppercase;
	background-color: $cb;
	border-radius: 47px;
	cursor: pointer;
	@include trs;

	&:hover {
		color: $cb;
		background-color: $c3;
	}
}

.form__message {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;

	div {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 15px;
		overflow-y: auto;
		text-align: center;
		background-color: $c1;

		h2,
		h3,
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
