//== COLORS
$cb: #35424A !default;
$c1: #ffffff;
$c2: #000000;
$c3: #C7BD74;
$c4: #4867AA;
$c5: #FF0000;

//== TYPOGRAPHY
$fb: OpenSans, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f1: AbyssinicaSIL, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$fsb: 14px !default;
